html
	head
		block title
			title Key4Key
		link(rel='stylesheet' href='https://unpkg.com/purecss@1.0.0/build/pure-min.css' crossorigin='anonymous')
		link(rel='stylesheet' href='https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css' crossorigin='anonymous')
		link(rel='stylesheet' href='index.css')
	body
		header
			span.logo-large Key4Key
			div.logo-small by markasoftware
		div.pure-g
			div.pure-u-1.pure-u-md-1-2.left-panel.flex-center.flex-column.pad-med
				block leftpanel
			div.pure-u-1.pure-u-md-1-2.right-panel.flex-center.flex-column.pad-med
				block rightpanel
