/*
 * BEGIN global
 */

body {
	margin: 0;
	padding: 1rem 3rem;
	background: #eee;
	font-family: Open Sans, Verdana, sans-serif;
}
* {
	box-sizing: border-box;
}
a {
	z-index: 999;
}

/*
 * END global
 */
/*
 * BEGIN general classes
 */
.pad-small {
	padding: 1rem;
}
.pad-med {
	padding: 2rem;
}
.pad-large {
	padding: 3.5rem;
}

.error {
	color: red;
}

/*
 * BEGIN logo
 */

header {
	height: 3.5rem;
	padding: 0.5rem 0;
	font-family: Trebuchet MS, sans-serif;
}
header a {
	color: inherit;
}
.logo-large {
	font-size: 2.5rem;
}
.logo-small {
	font-size: 0.7rem;
}

/*
 * END logo
 * BEGIN panels
 */
.margin-center {
	margin: 0 auto;
}
.left-panel {
	border-right: 1px solid #888;
}

/*
 * END panels
 * BEGIN flex
 */
.flex-center {
	display: flex;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
}

/*
 * END flex
 * BEGIN exchanges
 */
.exchange {
	border: 2px solid black;
	margin-bottom: 2rem;
}

/*
 * END exchanges
 * BEGIN postmortem
 */
section {
	max-width: 40rem;
}
